@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: 
   Date: 
	
   Filename: br_styles.css
*/


/* HTML Styles */
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(-90deg, rgb(141, 216, 194) 15%, rgba(59, 128, 192, 0.849) 50%);
}

/* Added font family and set the background image of html to a linear gradient angle -90 degrees. */


/* Body Styles */
body {
  border-radius: 30px;
  margin: 0px auto;
  max-width: 960px;
  min-width: 640px;
  width: 90%;
  background-color: rgb(109, 120, 129);
  text-align: center;
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.63);
  background-image: radial-gradient(  rgba(200, 235, 245, 0.253) 30%, rgb(253, 253, 253) 80%);
  border: 7px solid rgb(0, 0, 0); 
}

body > header img#logo {
  display: block;
  width: 100%;
}


/* Set the border radius of the body to 30px which rounded the corners. Setting the margin to 0px auto centered everything inside the body. Added a radial gradient inside the  */
/* centered the logo by adding an ID selector to the image and setting the width to 100 percent. */
/* Navigation Syles */
nav {
  text-align: center;
}


nav ul {
  list-style: none;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  width: 15%;
  display: block;
  float: left;
  background-color: rgba(74, 102, 226, 0.849);
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.63);
  border: 2.5px solid rgb(0, 0, 0);
  margin: 20px 20px;
  
}

/* aligned the  navigation to the center. Setting the list style to none got rid of the underlines. Added 
padding, and increased the font size. The border radius rounded the borners. The background color was set to 
blue. A box shadow was added to give a 3D effect and a thin solid border was added to bolden the nav. The color 
is white. */

.bottomlinks a {
  display: block;
  float: left;
  width: 20%;
}

nav a:hover {
  background-color: #555555;


}

nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/* The hover effect was added in order to make the nav turn grey whenever the mouse hovered over it.  */

/* Paragraph Styles */
p {
  vertical-align: baseline;
}

p {
  text-align: center;
  background-color: rgba(74, 102, 226, 0.616);
  border-radius: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-repeat: repeat;
  line-height: 30px;
  width: 947px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.63);
  border: 2.5px solid rgb(0, 0, 0);


}
/* Same styles from the nav were added to the paragaph but a few changes were made. The line height was increased,
and the border of the paragraph element is little bit thicker. The h1 element has the text color set to blue, a text shadow
and padding around all four sides. The text is aligned to the center just like everything else but the font size is increased 
drastically and the text shadow extends a little further. */

/* Header Styles */
h1 {
  color: rgb(85, 85, 207);
  text-shadow: -1px 0 black, 0 2.5px black, 2.5px 0 black, 0 -2.5px black;
  text-align: center;
  font-size: 40px;
  Padding: 40px 10px 20px 10px;
}
