@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: 
   Date: 
	
   Filename: br_styles.css
*/


/* HTML Styles */
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(-90deg, rgb(141, 216, 194) 15%, rgba(59, 128, 192, 0.849) 50%);
}


/* Body Styles */
body {
  margin: 0px auto;
  max-width: 960px;
  min-width: 640px;
  width: 90%;
  background-color: rgb(109, 120, 129);
  text-align: center;
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.63);
  background-image: radial-gradient(  rgba(240, 245, 200, 0.253) 30%, rgb(253, 253, 253) 80%);
  /* border: 2.5px solid rgb(0, 0, 0); */
}

body > header img#logo {
  display: block;
  width: 100%;
}

img#photo_nine {
  align: center;
}


/* Navigation Syles */
nav {
  text-align: center;
}


nav ul {
  list-style: none;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  width: 15%;
  display: block;
  float: left;
  background-color: rgba(74, 102, 226, 0.849);
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.63);
  border: 2.5px solid rgb(0, 0, 0);
  margin: 20px 20px;
  
}

.bottomlinks a {
  display: block;
  float: left;
  width: 20%;
}

nav a:hover {
  background-color: #555555;


}

nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


/* Paragraph Styles */
p {
  vertical-align: baseline;
}

p {
  text-align: center;
  background-color: rgba(74, 102, 226, 0.849);
  border-radius: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-repeat: repeat;
  width: 960px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.63);
  border: 2.5px solid rgb(0, 0, 0);


}


/* Header Styles */
h1 {
  color: rgb(85, 85, 207);
  text-shadow: -1px 0 black, 0 2.5px black, 2.5px 0 black, 0 -2.5px black;
  text-align: center;
  font-size: 40px;
  Padding: 40px 10px 10px 10px;
}
